.articles {
  display: block;
  font-size: 20px;
  margin: 1rem;
}

button {
  border-radius: 20%;
  padding: 1rem;
  background: linear-gradient(
    to left,
    cyan,
    rgb(62, 228, 62),
    rgb(49, 161, 14)
  );
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.categoryBtn {
  padding: 3px;
}
